<!DOCTYPE html>
<html>
<head>
  <title>Novo Autor</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Cadastrar novo autor</h1>
  <form action="/author" method="POST">
    <label for="name">Nome do Autor:</label><br>
    <input type="text" id="name" name="name" required><br>

    <button type="submit">Salvar</button>
  </form>
</body>
</html>
